<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | AspireLearn</title>
    
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="container">
        <h1>AspireLearn</h1>
        <p>AspireLearn Learning Platform</p>
        
        <a href="http://localhost:8080/main/login" target="_self" class="btn">Let's Start</a>
    </div>

</body>
</html>