<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compiler-Design | AspireLearn</title>
    <link rel="stylesheet" href="/course_inside/computer_net.css" />
</head>

<body>
    <header>
        <h1>Welcome to AspireLearn Compiler-Design</h1>
        <nav>
            <ul>
                <li><a href="http://localhost:8080/main/login/home">Home</a></li>
                <li><a href="http://localhost:8080/main/login/course">Courses</a></li>
                <li><a href="http://localhost:8080/main/login/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="Compiler-Design-container">
            <section class="Compiler-Design-section">
                <h2 class="section-title">Compiler-Design</h2>
                <div class="course-content">
                    <div class="course-image-container">
                        <img src="/img/course img/compdesign.jpg" alt="Compiler-Design Course Image"
                            class="course-image" />
                        <div class="lock-overlay">
                            <span class="lock-text">Locked</span>
                        </div>
                    </div>

                    <div class="course-description">
                        <h3>About This Course</h3>
                        <p>This Compiler Design course covers the key stages of compiler construction, including lexical
                            analysis, syntax analysis, semantic analysis, intermediate code generation, optimization,
                            and code generation. It is designed to help you understand how high-level programming
                            languages are translated into machine code.</p>
                        <p>Ideal for students and professionals interested in programming language design, system
                            software, or advanced development tools, this course builds a strong foundation in compiler
                            theory and practical implementation. Discover the engineering behind language translation
                            and code execution today!</p>


                    </div>
                </div>

                <div class="button-container">
                    <a href="http://localhost:8080/main/login/course/payment" class="subscribe-btn">Enroll Now</a>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 AspireLearn | All Rights Reserved</p>
    </footer>
</body>

</html>